* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.login {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

}

.login-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form p {
    font-size: small;
    margin-top: 2px;
    margin-bottom: 20px;
}

.login-form label {
    font-size: small;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    background-color: #ffb300;
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #fcbe06;
}

/* Main */

.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 0 12px;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 8px 16px 0px rgba(117, 117, 117, 0.2);

}

.navbar>.btn {
    border: none;
    font-size: larger;
    height: auto;
    width: auto;
}

.navbar .nav-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(255, 255, 255);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1100;
}

.dropdown-content a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #292929;
}

.dropdown-content a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sign-in {
    text-decoration: none;
    color: white;
}

.container {
    height: 100%;
}


#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgb(255, 183, 0);
    overflow-x: hidden;
    transition: width 0.3s;
}

#sidebar>a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.2s;
    margin-left: 30px;

}

#sidebar>a:hover {
    color: white;
}

#sidebar .closebtn {
    position: absolute;
    right: 5px;
    font-size: 25px;
}

.logo {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 40px;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.logo a {
    text-decoration: none;
    color: #292929;
}

#main {
    /* padding: 20px; */
    transition: margin-left 0.3s;
}

.content {
    margin-top: 40px;
    width: 100%;
    overflow: auto;

}

.cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;

}

.card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    overflow: hidden;
    padding: 10px 20px;
    border-radius: 8px;
}

.data h2,
.data p {
    margin: 10px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}



@media (max-width: 500px) {

    .card {
        padding: 10px;
    }

    .data h2 {
        font-size: 0.7rem;
    }

    .data p {
        font-size: 0.5rem;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.data {
    padding: 2px 8px;
}

.data p {
    color: #616060b8;
}

.card i {
    color: #ffb300;
}


.partyDetail {
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.party-box {
    margin: 3% 3%;
    width: 100%;
    margin-top: 7%;
}
.party-box h2{
    padding-left: 20px;
}
.partyDetail-form {
    color: #2a2929;
    margin-top: 1.5%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow: hidden;
}

.partyDetail-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.required {
    color: red;
    font-size: small;
}

.detail{
    width: 100%;
    display: flex;
}

#address {
    border-color: #ccc;
    width: 100%;
    border-radius: 4px;
    margin:8px 0;
    height: 35px;
}

.city,
.contact,
.state,
.gstin,
.country,
.reference {
    width: 30%;
}

.city,
.contact {
    margin-right: 5%;
}

.country,
.reference {
    float: right;
    margin-left: 5%;
}

.partyDetail-form>.btn {
    margin-top: 10px;
    font-size: small;
    padding: 7px 10px;
    border: none;
    background-color: #f29c2b;
    color: white;
    font-weight: bold;
    border-radius: 4px;

}